.searchBox__container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.searchBox__icon-container {
  align-items: center;
  background-color: var(--bg-searchBox-icon);
  border-radius: 3px 0 0 3px;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

.searchBox__icon-container img {
  width: 18px;
}

.searchBox__input {
  background-color: var(--bg-card);
  border-radius: 0 3px 3px 0;
  border: none;
  font-size: 0.9rem;
  height: 40px;
  margin: 2rem 0;
  outline: none;
  padding: 5px 10px;
  width: 160px;
}

.searchBox__input:hover,
.searchBox__input:focus {
  color: var(--color-text-searchBox);
}

.searchBox__input::placeholder {
  color: var(--color-text);
}
