.search {
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  line-height: 30px;
  margin: 2rem 0;
  outline: none;
  padding: 5px 10px;
  width: 160px;
}

.search:hover,
.search:focus {
  color: #873CFF;
}

