.card-container {
  background-color: var(--bg-card);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 25px;
  text-align: left;
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.02);
}

.card-container h2 {
  margin: 0;
}

.card-container p {
  margin-top: 0;
}

.card-container img {
  width: 100%;
}