.App {
  background: linear-gradient(var(--bg-violet), var(--bg-blue));
  color: var(--color-text);
  min-height: 100vh;
  padding-bottom: 3rem;
  text-align: center;
  transition: all 0.3s ease-in;

  --bg-violet: #873CFF;
  --bg-blue: #00E0FF;
  --bg-card: #FCFCFC;
  --bg-searchBox-icon: #F1F3FA;
  --main-title: #09d3ac;
  --color-text: #333;
  --color-text-searchBox: var(--bg-violet);
}

.App[data-theme='dark'] {
  --bg-violet: #333;
  --bg-blue: #333;
  --bg-card: #434343;
  --bg-searchBox-icon: var(--bg-card);
  --main-title: #0BAD8D;
  --color-text: #B5B5B5;
  --color-text-searchBox: var(--color-text);
}

.App h1 {
  color: var(--main-title);
  font-family: "Rock Salt", cursive;
  font-size: 2.5rem;
  margin: 0;
  padding-top: 2rem;
}

.App h1 span {
  padding-left: 0.6rem;
  font-size: 1.5rem;
}
